<!-- <form class="form-horizontal" method="post" action="/login"> -->
<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email" name="email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</div>
<script>
  var email
    , password
    , $email = $('#inputEmail')
    , $password = $('#inputPassword')
    ;
  $('button[type=submit]').click(function() {
    email = $email.val();
    password = $password.val();
    if(email && password) {
      $.ajax({
        type: "POST"
        , url: "/login"
        , data: {
           email: email
           , password: password
          }
      });
    } else { <!-- The input-email and input-password is null -->
  
    }
   });
</script>
