doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=1024")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title Report
    meta(name="description", content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com.")
    meta(name="author", content="icecream&&van9ogh&&arnold")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", rel="stylesheet")
    link(href="/css/impress-demo.css", rel="stylesheet")
    link(href="/css/report.css", rel="stylesheet")
    link(href="/css/font-awesome.min.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Libre+Baskerville|Great+Vibes|Montserrat", rel="stylesheet", type="text/css")

  body
    div.fallback-message
      Fail
    div#impress
      // Title
      div#title.step.slide(data-x="-1000", data-y="-1500", style="text-align: center;")
        q(style="text-align: center; color: rgb(0, 0, 0);font-weight: bold;font-size: 60px;padding-top: 70px;") 
          基于无线传感器网络<br/>多参数采集与展示系统
        img(src="/images/reports/title.png")
        q(style="text-align: center; font-size: 28px;") 
          指导老师：李克清<br/> 负责人：刘鹏<br/> 小组成员：李军前 倪俊佳<br/>

      // Project Show Address 
      div#show.step.slide(data-x="-1000", data-y="-1500", data-z="-4000", data-rotate="360", style="text-align:center;padding-top: 20%;color: rgb(143, 0, 255)")
        q 项目展示地址
          a(href="http://10.18.46.189") http://10.18.46.189

      // Content
      div#content.step.slide(data-x="0", data-y="-1500")
        ul.one
          li 1. 项目的研究意义
          li 2. 开发环境
            ul.two 
              li 硬件
              li 软件
              li 开发语言
          li 3. 系统架构
            ul.two
              li 采集端
              li WEB服务器端
              li 数据库
              li 客户端
          li 4. 项目总结
          li 5. 结束语

      // Aim and Reson for this project
      div#reason.step.slide(data-x="1000", data-y="-1500")
        h1 是什么和为什么
        p 
          1. 这是一个无线传感器网络的可视化项目， 重点在于如何更直观的展示传感器的数据， 为用户提供更加直观的数据。
        p
          2 .嵌入式和移动互联网的结合
        p
          3. 原型项目， 有很多扩展面， 可以用来做医疗， 养殖， 环境监测等特定领域的数据采集与分析应用。
        p         
          4. 从硬件到软件， 对了解计算机整个体系结构有莫大的帮助。
  
      // System Design
      div#SystemDesign.step.slide(data-x="2000", data-y="-1500", style="text-align: center;")
        h1 系统架构
        img(src="/images/reports/SystemDesign.png", style="width: 100%;padding-top: 40px;")

      // Development Environment
      div#DevEnvir.step.slide(data-x="2000", data-y="-2500", data-z="-1000")
        h1 开发环境
        h2 硬件： 
        p  Crossbow Micaz节点、Mib520开发板
        h2 软件： 
        p  语言： NesC、C、JavaScript、SQL
        p  操作系统： TinyOS、Linux(>=2.6.0)
        p  工具： GNU Make, GCC, Vim/Emacs
      // Capture Node
      div#CaptureNode.step.slide(data-x="2000", data-y="-1500", data-z="-4000")
        h1 采集节点： 
        h2 采用的是Crossbow公司的MicaZ节点， 主要有以下硬件：
        p 1. ATMEGA128
        p 2. CC2430
        p 3. 传感器背板采用总线型结构
        p 4. 包括温度、湿度、光照 、地磁、压力、声音等传感器
        p 5. 支持TinyOS操作系统， 嵌入式C语言NesC
      div#CaptureNode1.step.slide(data-x="2000", data-y="-1500", data-z="-6000")
        h1 采集节点：
        img(src="/images/reports/CaptureNode.png", style="padding-top: 20%")


      // Collection Node
      div#CollectionNode.step.slide(data-x="2000", data-y="-1500", data-z="-8000")
        h1 汇聚节点： 
        p MIB520和普通节点的组合
        p 采用FDTI串口转USB芯片， 进行串口数据的传输 
        img(src="/images/reports/CollectionNode.png")

        
      // System Design
      // Protocol
      div#Protocol.step.slide(data-x="3000", data-y="-1500")
        h1 系统架构： 协议 
        h2 节点部分的路由协议（基于stanford sing的collection tree protocol)
        p 
          1. 汇聚树协议
        p 
          2. 梯度路由 
        p 
          3. 多跳
        p 
          4. 单向
        p 
          5. 尽力传播
      div#Protocol2.step.slide(data-x="3000", data-y="-500", data-z="-1000")
        h1 系统架构： 协议 
        img(src="/images/reports/protocol.png")        
      // Capture Server / Capture Client
      div#CaptureServer.step.slide(data-x="3000", data-y="1500", data-z="-2000")
        h1 系统架构： 采集端
        h2 服务器/客户端
        p 
          1. 多对一模式
        p 
          2. 采用TCP Socket连接
        p 
          3. 使用CRC冗余校验
      div#CaptureServer1.step.slide(data-x="3000", data-y="500", data-z="-2000")
        h1 系统架构： 采集端
        img(src="/images/reports/CaptureServer.png")
      // WEB Server 
      div#WebServer.step.slide(data-x="3000", data-y="-1500", data-z="-4000")
        h1 系统架构：WEB服务器端
        p 
          1. 采用C语言编写
        p 
          2. 支持事件驱动
        p 
          3. 支持线程池
      div#WebServer1.step.slide(data-x="3000", data-y="-500", data-z="-4000")
        h1 系统架构：WEB服务器端
        img(src="/images/reports/WEBServer.png")
      // SQL: mySQL 
      div#mySQL.step.slide(data-x="3000", data-y="-1500", data-z="-6000")
        h1 系统架构：数据库端
        p 
          1.在对本项目的数据结构、 服务器与数据库交互方式 及后期可能的扩展方向做了 大量分析后，设计了相应的 数据库表结构；
      div#mySQL_pic.step.slide(data-x="3000", data-y="-1500", data-z="-7000")
        h1 系统架构：数据库端
        img(src="/images/reports/mysql.png")
      div#mySQL2.step.slide(data-x="3000", data-y="-1500", data-z="-10000")
        h1 系统架构：数据库端
        p 
          2、为配合与服务器的数据交互，设计了前期定义好的插入查询接口；
        p 
          3、出于安全性的考虑，对连接帐户的权限做了相应设置；
        p 
          4、出于查询性能的考虑，对查询频繁的字段设置了索引，查询存储过程的插入查询语句也经过了多次的优化；
        p 
          5、为提高容灾减灾能力，系统定期进行热备份
      // Client
      div#client1.step.slide(data-x="4000", data-y="-1500")
        h1 系统架构： 客户端
        p 随着网络的高速发展，网络应用程序如雨后春笋般出现。其便捷性，高效性越来越受到市场的青睐。
        p 鉴于上述原因，本项目展示程序采用的是主流网络应用技术开发，构建在浏览器这一泛操作系统之上。
        p 总体思路上采用的是MVC程序设计思想。最大限度的保证客户端各个模块的独立性。方便后期的进一步扩展。
      div#client2.step.slide(data-x="4000", data-y="-1500", data-z="-2000")
        h1 系统架构： 客户端
        h2 客户端整体架构：
        img(src="/images/reports/MVC1.png", style="width: 100%")

      // Overview
      div#Overview.step.slide(data-x="5000", data-y="-1500")
        h1 项目总结： 
        h2 关于此次项目的想法
        p (1) 学术研究和工程应用
        p (2) 团队合作方面
        p (3) 编程能力、学习能力、解决问题的能力
      div#Overview1.step.slide(data-x="6000", data-y="-1500")
        h1 项目不足： 
        p (1) 在开发项目时经验不足
        p (2) 项目原型UI设计有些不足。
        p (3) 项目的部分功能还是不够完善。
      div#thanks.step.slide(data-x="7000", data-y="-1500")
        h1 感谢： 
        p 感谢学校和院系的支持和鼓励
        p 感谢李老师的全程关注和指导
        p 感谢整个团队的努力合作
      // Q&A
      div#Over.step.slide(data-x="8000", data-y="-3500", data-rotate="90", style="text-align:center;")
        q(style="font-size: 100px;") END
        q(style="font-size: 100px;") Q&A

    script(src="/javascript/impress.js")
    script
      impress().init();

